<div id="form">
    <h2>Log in here!</h2>
    <form action="/login" method="POST">

        <label> Email
            <input type="email" name="email" placeholder="email" />
        </label>


        <label> Password
            <input type="password" name="pass" placeholder="********" />
        </label>

        <button type="submit">Sign In</button>

        {{!-- error message will be added here --}}
    </form>
  
</div>