{{!-- <nav>
    <ul>
        <li id="to-left">
            <p><a href="/"> Home/Root </a></p>
        </li>
        <li id="to-right">
            <a href="/signup">Signup</a> <span> | </span>
            <a href="/login">Login</a> <span> | </span>
            <form id="logout-form" action="/logout" method="POST">
                <button>Logout</button>
            </form>
        </li>
    </ul>
</nav> --}}

<div id="form">
    <h2>Log in here!</h2>
    <form action="/login" method="POST">

        <label> Email
            <input type="email" name="email" placeholder="email" />
        </label>


        <label> Password
            <input type="password" name="pass" placeholder="********" />
        </label>

        <button type="submit">Sign In</button>

        {{!-- error message will be added here --}}
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
        
    </form>
  
</div>