
    <nav class="nav">
        <a href="/restaurants" class="nav__link">
            <i class="material-icons nav__icon">restaurant</i>
            <span class="nav__text">Restaurants</span>
        </a>
        <a href="/restaurants/find" class="nav__link">
            <i class="material-icons nav__icon">search</i>
            <span class="nav__text">Find</span>
        </a>
        <a href="/restaurants/new" class="nav__link">
            <i class="material-icons nav__icon">add_circle</i>
            <span class="nav__text">Add</span>
        </a>

    </nav>