
<h1 class="title"> Welcome to RestaurantMe!</h1>

<div>
    <img class="image" src="/images/restaurant/default-restaurant.png" alt="restaurant">
</div>

    <ul>
        <li id="to-center">
            <a href="/signup">Join us</a> <span> | </span>
            <a href="/login">Login</a> 
        </li>
    </ul>


