<nav>
    <ul>
        <li id="to-left">
            <p><a href="/"> Home/Root </a></p>
        </li>
        <li id="to-right">
            <a href="/signup">Signup</a> <span> | </span>
            <a href="/login">Login</a> <span> | </span>
            <form id="logout-form" action="/logout" method="POST">
                <button>Logout</button>
            </form>
        </li>
    </ul>
</nav>
<h1>This is root/home page where you create a user or login</h1>

<a href="/restaurants"> See all restaurants here!</a>

<a href="/restaurants/new"> Create new restaurants here!</a>
