<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RestaurantMe</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/base.css" />
</head>

<body>
  <nav>
    <ul>
      <li id="to-left">
        <p><a href="/"> Home/Root </a></p>
      </li>
      <li id="to-right">
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
    </ul>
  </nav>
  
  {{{body}}}
  
  <script src="/js/script.js"></script>
</body>

</html>