:root {
  --white-color: white;
  --primary-color: #e3562a;
  --secondary-color: #65aaea;
  --grey: #bebab3;
  --dark-grey: #78746d;
}

* {
  box-sizing: border-box;
}

/* html,
body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: var(--dark-grey);
} */

body {
  padding: 30px;
  font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
 
a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em;
}
 
/* form {
  margin: 30px auto;
  max-width: 100%;
  padding: 10px;
} */
 
/* form label {
  color: #444444;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
} */
 
/* form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
} */
 
/* form button {
  background: #444444;
  border: 1px solid black
} */

/* form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
} */
 
form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}
 
.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
 
ul {
  border-bottom: 2px solid #444444;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}
 
ul li {
  line-height: 20px;
}

img {
  max-width: 100%;
}
 
#to-right {
  padding: 1.5em;
  float: right;
}
 
#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}
 
#form h2 {
  display: flex;
  justify-content: center;
}
 
/* #to-left {
  float: left;
  padding: 1.5em;
}
 
#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
} */
 
#logout-form {
  display: inline;
}

#logout-form {
  display: inline;
}
 
#logout-form button {
  width: 120px;
}

.nav {
    position: fixed;
    padding: 0 30px 0 0;
    bottom: 0;
    width: 100vw;
    height: 60px;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
    background-color: #ffffff;
    display: flex;
    /* overflow-x: auto; */
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

/* .nav__link:hover {
    background-color: #eeeeee;
} */

/* .nav__link--active {
    color: #009578;
} */

.nav__icon {
    font-size: 18px;
}

.icon-container {
  width: 30%;
}