/* all restaurants view styling */

body {
  padding: 30px;
  font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
 
a {
  color: gray;
  text-decoration: none;
  font-size: 1.5rem;
}

h1 {
    font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  color: grey;
}

img {
  width: 100%;
}

#restaurant-card-container {

  padding-top: 20px;
}

#rest-user-container {
    padding-top: 20px;
}

.p10b {
  padding-bottom: 10px;
}

#button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rest-card-button {
  width: 100%;
  background: #c0c0c0;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  color: #4a4a4a;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  /* text-transform: uppercase; */
  transition: 0.3s ease background;
  
}

/* .rest-card-form {
  width: 100%;
  padding: 20px;
 
} */

.rest-form {
  margin: 30px auto;
  max-width: 100%;
  padding: 10px;
}

.rest-form label {
  color: #444444;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  /* text-align: center; */
  width: 100%;
  
}

.rest-form button {

}

#restaurant-card-container {
  line-height: 1.5em;
}

#restaurant-card-container span {
  font-weight: bold;
}

#restaurant-basic-info {
  padding-top: 10px;
  padding-bottom: 10px;
}