/* all restaurants view styling */

body {
  padding: 30px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
 
a {
  color: gray;
  text-decoration: none;
  font-size: 1.5rem;
}

h1 {
    font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  color: grey;
}

#rest-user-container {
    padding-top: 20px;
}

img {
  width: 100%;
}

/* # restaurant-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */
