<div id="rest-list-container">

    <div id="rest-user-container">
        {{#if currentUser}}
            <h1>{{ currentUser.name }}'s restaurants</h2>
        {{/if}}
    </div>


    {{#each returnedRestaurants}}
 
        {{> restaurantBasicInfo }}

    {{/each}}



</div>

<a href="/restaurants/new"> Create new restaurant here!</a>
<a href="/restaurants/find"> Find a restaurant here!</a>

