<h2>Restaurants that match your search critiria:</h2>

<div id="restaurant-list-container">
    {{#each foundRestaurants }}

        {{> restaurantBasicInfo }}
        
    {{/each}}
</div>
<a href="/restaurants"> List of all restaurants here!</a>
<a href="/restaurants/find"> Find a restaurant here!</a>